body {
    font-family: 'Cinzel', serif;
}

#app {
    color: white;
    background-color: #f7b217;
}

#salads {
    border: 2px solid #f7b217;
    padding: 15px;
}

.test {
    border: 2px solid red;
}

.food {
    max-width: 50vw;
}

.midBorder {
    border-right: 1px solid #f7b217;
}
.medText {
    border-bottom: 1px solid #f7b217;
}

.itemDetails {
    color: gray;
    font-size: 10px;
    font-weight: 200;
}

.soupImg {
    height: 350px;
    background-repeat: no-repeat;
}

.price {
    color: gray;
    font-size: 17px;
}

.fw {
    font-weight: 600;
}